@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  /* Background Colors */
  --bg: #000000;
  --light-bg: #121212;

  --container-bg:#1F1B24;

  /* Text Colors */
  --text: #FFFFFF;
  --theme-text: #E894FF;

  /* Gradient Colors */
  --main-gradient-start: #8000FF;
  --main-gradient-end: #DE00FF;
  --light-gradient-start: #A852FF;
  --light-gradient-end: #FF73FF;

  /* Additional Colors */
  --accent-color-1: #00FFFF;  /* Cyan */
  --accent-color-2: #FFA500;  /* Orange */
  --accent-color-3: #FFFF00;  /* Yellow */

  /* Font Styles */
  --heading-font-family: 'Montserrat', sans-serif;
  --heading-font-size: 30px;
  --heading-font-weight-normal: 400;
  --heading-font-weight-bold: 700;
}

/* Your other CSS rules */
