body {
  font-family: 'open sans', sans-serif;
  background-color: #121212;
  color: #D4D4D4;
  /* Updated text color */
  font-size: 16px;
}

.container {
  display: flex;
  padding: 20px;
  background-color: #121212;
}

h1,
h2,
h3 {
  font-weight: 700;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;;
}

.heading-top{
 background:linear-gradient(to bottom, #8000FF, #DE00FF);
 font-size: 30px;
 padding: 10px;
 border-radius: 2px;
 margin-left: -3px;
 margin-right: -3px;
 margin-top: -4px;
}

p {
  margin-bottom: 20px;
}


.article-section {
  flex: 1;
  background-color: #222;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  /* Specify the styles for the article section */
}


.technique {
  margin-bottom: 30px;
}

.technique-title {
  color: white;
  /* Updated text color */
  font-size: 24px;
  margin-top: 40px;
}

.technique-description {
  color: #BDBDBD;
  /* Updated text color */
  margin-bottom: 10px;
}

.example-list {
  margin-bottom: 20px;
}

.example-list li {
  margin-bottom: 5px;
  margin-left: 30px;
}


.technique-image {
  max-width: 400px;
  margin:auto;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}





.other-posts-section h2 {
  color: #E894FF;
  /* Updated text color */
  font-size: 24px;
  margin-bottom: 0px;
  padding: 20px;

}


.other-posts-section {
  width: 25%;
  margin-top: 5%;
  margin: 20px;
  padding: 20px;
  background-color: #222;
  border-radius: 5px;
}


.post {
  margin-bottom: 20px;
  padding: 20px;
  text-align: justify;
}

.post h3 {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 10px;
}

.post p {
  font-size: 16px;
  color: #BDBDBD;
}

.elevation-2 {
  box-shadow: 0 3px 4px 0 rgba(255, 255, 255, 0.14), 0 1px 8px 0 rgba(255, 255, 255, 0.12), 0 3px 3px -2px rgba(255, 255, 255, 0.2);
}


/* Media query for smaller screens */
@media (max-width: 768px) {
  .other-posts-section {
    display: none;
  }
}