body {
  font-family: "Roboto", Arial, sans-serif;
  background-color: #222;
  color: #fff;
}

h1 {
  margin-top: -10px;
  margin-bottom: -10px;
  font-family: "Playfair Display", serif;
}

#result-container {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

#result-container p {
  margin: 10px;
}

#result-container p span {
  font-weight: bold;
}

.container {
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 20px;
  background: linear-gradient(to bottom, #121212, #000000);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: 1px solid #fe981e;
}



.title {
  color: #fff;
  text-align: center;
  padding: 10px;
  background: linear-gradient(to right, #fe981e, #fecf13, #fe981e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.question-container {
  margin-bottom: 20px;
}

.question {
  font-size: 22px;
  margin-bottom: 10px;
  color: #ffffff;
  font-family: "Lato", sans-serif;
}

.options {
  list-style-type: none;
  padding: 0;
}

.options li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #555;
  border: 1px solid #888;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  font-family: "Roboto", sans-serif;
}

.options li:hover {
  background-color: rgba(243, 146, 0, 0.2);
}


.options li.correct {
  background-color: #1a9641;
  border-color: #1a9641;
}

.options li.incorrect {
  background-color: #e42c2f;
  border-color: #d7191c;
}

.options li.correct::before {
  content: "\2713";
  color: #fff;
  font-weight: bold;
  margin-right: 5px;
}

.options li.incorrect::before {
  content: "\2717";
  color: #fff;
  font-weight: bold;
  margin-right: 5px;
}

.explanation {
  margin-bottom: 20px;
}

.next-button {
  display: block;
  margin: 0 auto;
  background: linear-gradient(to right, #f39200, #fecf13);
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Roboto", sans-serif;
}

.next-button:hover {
  background: linear-gradient(to right, #fecf13, #f39200);
}

.next-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #f39200; /* Add a white and orange border on focus */
}



.custom-button {
  background-color: #000;
  color: #f39200;
  border: 1px solid #f39200;
  padding: 10px 20px;
  margin-top: 0px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  outline: none; /* Remove the default outline on focus */
}

.custom-button:hover {
  background-color: #f39200;
  color: #fff;
  box-shadow: 0 0 10px rgba(243, 146, 0, 0.5); /* Add a subtle box-shadow on hover */
}

.custom-button::after {
  content: "\f129"; /* Unicode for an arrow-right icon */
  font-family: "Font Awesome 5 Free"; /* Assuming you're using Font Awesome */
  margin-left: 5px;
}

.custom-button:focus {
  box-shadow: 0 0 0 1px #f39200; /* Add an orange border on focus */
}

.container {
  position: relative;
}
.score {
  position: absolute;
  top: -14px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #f39200;
  background-color: #111111;
  padding: 5px 10px;
  color: #b76f03;
  font-size: 14px;
  font-weight: normal;
  border-radius: 5px;
}

.score::before {
  content: "";
  display: inline-block;
  margin-right: 5px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 28px;
  }
}
