@import url("../../../../css/theme.css");

body {
  font-family: 'open sans', sans-serif;
  background-color: #121212;
  color: #D4D4D4;
  /* Updated text color */
  font-size: 16px;
}

.container {
  display: flex;
  padding: 10px;
  background-color: #121212;
}

h1,
h2,
h3 {
  font-weight: 700;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color:#e5e5e5;
}

.heading-top {
  background: linear-gradient(to bottom, #9d4ced, #000000);
  font-size: 27px;
  padding: 10px;
  border-radius: 7px;
  margin-left: -3px;
  margin-right: -3px;
  margin-top: -4px;
}

p {
  margin-bottom: 20px;
  color:#c1c1c1;
}

#quiz-body p{
    padding-left: 10px;
}

.post h3 {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 10px;
}
.post {
    margin-bottom: 20px;
    padding: 20px;
    text-align: justify;
}


.article-section {
  flex: 1;
  background-color: #222;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  /* Specify the styles for the article section */
}


.other-posts-section h2 {
  color: #E894FF;
  /* Updated text color */
  font-size: 24px;
  margin-bottom: 0px;
  padding: 20px;

}


.other-posts-section {
  width: 25%;
  margin-top: 5%;
  margin: 20px;
  padding: 20px;
  background-color: #222;
  border-radius: 5px;
}



.elevation-2 {
  box-shadow: 0 3px 4px 0 rgba(255, 255, 255, 0.14), 0 1px 8px 0 rgba(255, 255, 255, 0.12), 0 3px 3px -2px rgba(255, 255, 255, 0.2);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-right: -14px;
  margin-left: -14px;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}


a {
  color: #7367f0;
  text-decoration: none;
  background-color: transparent;
}

.post h3{
  font-weight: 700;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .other-posts-section {
    display: none;  
  }  
  .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}


