body {
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #fff;
}

.container {
  max-width: 600px;
  height: 100%;
  radius: 30px;
  margin: 0 auto;
  padding: 20px;
  background-color: #161B21;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.title {
  font-size: 40px;
  color: #fff;
  text-align: center;
  padding: 10px;
  background-image: linear-gradient(to right, #E61D2F 25%, #FA6C16);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.question-container {
  margin-bottom: 20px;
}

.question {
  font-size: 22px;
  margin-bottom: 10px;
}

.options {
  list-style-type: none;
  padding: 0;
}

.options li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #555;
  border: 1px solid #888;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.options li:hover {
  background-color: #444;
}

.options li.correct {
  background-color: #1a9641;
  border-color: #1a9641;
}

.options li.incorrect {
  background-color: #e42c2f;
  border-color: #d7191c;
}

.options li.correct::before {
  content: "\2713";
  color: #fff;
  font-weight: bold;
  margin-right: 5px;
}

.options li.incorrect::before {
  content: "\2717";
  color: #fff;
  font-weight: bold;
  margin-right: 5px;
}

.explanation {
  margin-bottom: 20px;
}

.next-button {
  display: block;
  margin: 0 auto;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.next-button:hover {
  background-color: #1976d2;
}

@media only screen and (max-width: 480px) {
  .title {
      font-size: 27px;
  }

  .question {
    font-size: 19px;
}

.question-size {
    font-size: 19px;
}

/* Add any other styles as needed */

}


